img{
  border-radius: 50%;
  width: 210px;
  height: 210px;
  box-shadow: 2px 5px 5px rgba(23, 146, 233, 0.314);
  margin-bottom: 20px;
}
.img1{
  background:url("../content/phone.jpg");
  background-position: center;
  background-size:cover;

}
.img2{
  background: url("../content/computer-pink.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
.img3{
  background: url("../content/phone4.jpg");
  background-size: cover;
  background-position: center;
}
